on property:ro.product.cert=MDI6S
    setprop ro.product.model Redmi Y1

on property:ro.product.cert=MDG6S
    setprop ro.product.model Redmi Note 5A Prime

on property:ro.product.cert=MDE6S
    setprop ro.product.model Redmi Note 5A
